* {
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
    // background-color:white;
    // color: white;
}


/******************** Nev Start *********************/
.raw{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:25px 10%;

    .log {
        span {
            font-family: 'Times New Roman', Times, serif;
            cursor:pointer;
        }
    }

    .list{
      list-style:none; 
    }

    li,a, {
        font-family:"Montserrat",sans-serif;
        font-weight:500;
        font-size:16px;
        text-decoration:none;
    }

    .list li{
        display:inline-block;
        padding:0 20px;
        cursor:pointer;

        a{
            transition:all 0.3s ease 0s;
        }

        a:hover{
            color:forestgreen;
        }
    }

    .btn {
        display: inline-block;
        button {
            margin-right: 20px;
            width: 100px;
            font-family: 'Times New Roman', Times, serif;
            transition:all 0.3s ease 0s;
        }

        .profile_img{
            border-radius:50%;
        }

        button:hover {
            color:white;
        }
    }

}

/******************** Nev END *********************/

/******************** header start *********************/

.header{
    background-image:url("../../imgs/background.jpg");
    background-repeat:none;
    background-size:cover;
    background-position:center;
    width:100%;
    min-height:90vh;
}


/******************** header END *********************/

footer{
    width:100%;
    background-color:black;
    padding:25px 10%;
    color:white;
}
.footers,.container {
    width:100%;
    margin: auto;
    text-align: center;
}