<div   onload="setTimeout(onLoad(), 3000)">
<div class="spinner" ></div>
</div>

<div *ngFor="let item of items">
  <div class="main-collection">
    <div class="containe">
      <div class="nav">
        <div class="log">
          <span class="mat-display-3" style="color: forestgreen">.</span><span class="mat-display-3">KaziKOTa</span>
        </div>

        <div class="search">
          <span><input type="text" name="" value="" /><span class="searchText">search<i>
                <mat-icon class="icon" style="background-color: forestgreen">search</mat-icon>
              </i></span></span>
        </div>

        <div class="btn">
          <button mat-raised-button color="accent" (click)="loginFunction()">
            {{ login }}
          </button>
          <button mat-raised-button style="background-color: forestgreen; color: black" (click)="toCard()">
            Card[ {{ dataS.itemId.length }} ]
          </button>
        </div>
      </div>

      <div class="menu">
        <div class="menu_collection">
          <div class="selectMenu">
            <div class="mat-display-2 title_catego" style="font-family: 'Times New Roman', Times, serif">
              Categories
            </div>

            <div class="list">
              <ul>
                <li class="active">Home</li>
                <li (click)="tomenu()">Menu</li>
                <li class="dis">Daily promotions</li>
                <li class="dis">About</li>
                <li class="dis">contact</li>
              </ul>
            </div>
          </div>
          <div class="display"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-menu></app-menu>
<router-outlet></router-outlet>